.hero {

  width: 100%;
  background-color: $color-container-bg;


  //.container{
  //  margin: 0 auto;
  //  width: 100%;
  //}

  padding: 2.4rem 0 13.4rem;

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 0 13.5rem;

    img {
      width: 15rem;
      height: auto;
    }

  }


  &__body {

    margin-top: 7.4rem;

    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    text-align: center;


    &__headline {
      font-size: 6.4rem;
      font-weight: 600;
      line-height: 1.15;
      text-align: center;
      max-width: 67%;
    }


    &__text {
      margin-top: 2.4rem;

      color: #747474;
      max-width: 70%;
    }


    &__videoCont {
      margin-top: 4rem;

      max-width: 82rem;
      width: 100%;
      height: 48.5rem;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;


      .video {
        background: #E0EEFF;
        width: 27.7rem;
        height: 25.6rem;
      }

      &__bottomVideo {
        align-self: flex-end;
      }

      &__videoBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5.6rem;
        height: 5.6rem;
      }


    }


  }


}

.sectionCounter {

  width: 100%;
  background-color: $color-bg;
  padding: 10rem 0;


  &__headline {
    font-size: 4.8rem;
    line-height: 1.3;
    font-weight: 600;
  }

  .text {
    text-align: center;

  }

  .textSm {
    color: #5E5E62;
    max-width: 50rem;
  }

  .btn {
    padding: 1.6rem 9rem;
  }


}

.sectionSlider {

  background-color: white;
  padding: 15rem 0 10rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;


  &__headline {
    font-weight: 600;
    font-size: 4.8rem;
    margin-bottom: 4.8rem;
    width: auto;
    margin-left: 13.5rem;
    text-align: left;
    align-self: flex-start;
  }

  .splide {
    max-width: 100%;


    .slide {
      //width: 37rem;
      height: 100%;
      background-color: white;
      box-shadow: 0px -4px 16px rgba(6, 16, 55, 0.06);
      border-radius: 0.3rem;
      padding: 2.4rem;
      padding-left: 6.7rem;

      text-align: left;

      h4 {
        //TODO: Urbanist
        font-weight: 600;
        font-size: 1.6rem;
        color: #252525;
      }

      p {
        font-size: 1.6rem;
        color: #252525;
        line-height: 1.6;
        margin-top: 0.6rem;
      }


    }

    .splide__arrows {
      position: absolute;
      top: -9rem;
      right: 14.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 9.6rem;
      height: 3.2rem;
      padding: 0 1rem;

    }

    .splide__arrow {
      width: 1rem;
      background-color: transparent;
      position: relative;
      top: unset;
      right: unset;
      left: unset;
      bottom: unset;
      transform: unset;
    }

    .arrowLeft {
      transform: rotate(180deg);
    }

    .arrowRight {
      //right: 21rem;
    }

    .splide__track {
      padding: 1rem 0;
    }


  }


}